    .top-cart-input .form-control{
        width: 40px;
        height: 34px;
        border-radius: 4px 0 0 4px;
        text-align: center;
    }
    .top-cart-input > .input-group-btn-vertical > .btn{
        height: 18px !important;
    }